<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, &#xD;&#xA;                   Microsoft.Practices.Unit.Configuration, &#xD;&#xA;                   Version=2.1.505.0, &#xD;&#xA;                   Culture=neutral, &#xD;&#xA;                   PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="TraceLogLocation" value="ApplicationFolder" />
    <add key="Modules" value="" />  
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="PMS" value="False" />
    <add key="UIS" value="False" />
    <add key="Languages" value="vi" />
    <add key="EnableCreateReport" value="True" />
    <add key="SoHoaTaiLieu" value="FTP"/>

    <!--                                          Thông tin publish                                      -->
   
    <!--Học viện Ngân Hàng-->
    <add key="MaTruong" value="HVNH"/>
    <add key="HRMConnect" value="PSC_HRM_HVNH.bin"/>
    <!--<add key="HRMConnect" value="PSC_HRM_HVNH_PSC.bin"/>-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="4" />
      <!--
			<add name="XPO" value="3" />
			-->
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
