<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!-- Lifetime manager types -->
    <alias alias="singleton"
         type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />
    <alias alias="perThread"
         type="Microsoft.Practices.Unity.PerThreadLifetimeManager,
               Microsoft.Practices.Unity" />
    <alias alias="external"
         type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
               Microsoft.Practices.Unity" />

    <!-- User-defined type aliases -->
    <alias alias="INhacViec" type="PSC_HRM.Module.BanLamViec.INhacViec`1, PSC_HRM.Module" />
    <alias alias="DenHanNopVanBang" type="PSC_HRM.Module.BanLamViec.DenHanNopVanBang, PSC_HRM.Module"/>
    <alias alias="HetHanHopDong" type="PSC_HRM.Module.BanLamViec.HetHanHopDong, PSC_HRM.Module"/>
    <alias alias="HetHanNghiBHXH" type="PSC_HRM.Module.BanLamViec.HetHanNghiBHXH, PSC_HRM.Module"/>
    <alias alias="HetHanNghiKhongHuongLuong" type="PSC_HRM.Module.BanLamViec.HetHanNghiKhongHuongLuong, PSC_HRM.Module"/>
    <alias alias="HetHanTamHoanTapSu" type="PSC_HRM.Module.BanLamViec.HetHanTamHoanTapSu, PSC_HRM.Module"/>
    <alias alias="HetHanTapSu" type="PSC_HRM.Module.BanLamViec.HetHanTapSu, PSC_HRM.Module"/>
    <alias alias="HetHanThuViec" type="PSC_HRM.Module.BanLamViec.HetHanThuViec, PSC_HRM.Module"/>
    <alias alias="HetNhiemKyChucVu" type="PSC_HRM.Module.BanLamViec.HetNhiemKyChucVu, PSC_HRM.Module"/>
    <alias alias="NangLuong" type="PSC_HRM.Module.BanLamViec.NangLuong, PSC_HRM.Module"/>
    <alias alias="NangThamNien" type="PSC_HRM.Module.BanLamViec.NangThamNien, PSC_HRM.Module"/>
    <alias alias="NangThamNienCongTac" type="PSC_HRM.Module.BanLamViec.NangThamNienCongTac, PSC_HRM.Module"/>
    <alias alias="NghiHuu" type="PSC_HRM.Module.BanLamViec.NghiHuu, PSC_HRM.Module"/>
    <alias alias="SinhNhat" type="PSC_HRM.Module.BanLamViec.SinhNhat, PSC_HRM.Module"/>
    <alias alias="ThongTinDaoTao" type="PSC_HRM.Module.DaoTao.ThongTinDaoTao, PSC_HRM.Module"/>
    <alias alias="ThongTinHopDong" type="PSC_HRM.Module.XuLyQuyTrinh.HopDong.ThongTinHopDong, PSC_HRM.Module"/>
    <alias alias="ThongTinNghiBHXH" type="PSC_HRM.Module.BaoHiem.ThongTinNghiBHXH, PSC_HRM.Module"/>
    <alias alias="ThongTinNghiKhongHuongLuong" type="PSC_HRM.Module.XuLyQuyTrinh.NghiKhongHuongLuong.ThongTinNghiKhongHuongLuong, PSC_HRM.Module"/>
    <alias alias="ThongTinHetHanTamHoanTapSu" type="PSC_HRM.Module.XuLyQuyTrinh.TapSu.ThongTinHetHanTamHoanTapSu, PSC_HRM.Module"/>
    <alias alias="ThongTinHetHanTapSu" type="PSC_HRM.Module.XuLyQuyTrinh.TapSu.ThongTinHetHanTapSu, PSC_HRM.Module"/>
    <alias alias="ThongTinHetHanThuViec" type="PSC_HRM.Module.XuLyQuyTrinh.ThuViec.ThongTinHetHanThuViec, PSC_HRM.Module"/>
    <alias alias="ThongTinBoNhiem" type="PSC_HRM.Module.XuLyQuyTrinh.BoNhiem.ThongTinBoNhiem, PSC_HRM.Module"/>
    <alias alias="ThongTinNangLuong" type="PSC_HRM.Module.XuLyQuyTrinh.NangLuong.ThongTinNangLuong, PSC_HRM.Module"/>
    <alias alias="ThongTinNangThamNien" type="PSC_HRM.Module.XuLyQuyTrinh.NangThamNien.ThongTinNangThamNien, PSC_HRM.Module"/>
    <alias alias="ThamNienCongTac" type="PSC_HRM.Module.XuLyQuyTrinh.NangThamNienCongTac.ThamNienCongTac, PSC_HRM.Module"/>
    <alias alias="ThongTinNghiHuu" type="PSC_HRM.Module.XuLyQuyTrinh.NghiHuu.ThongTinNghiHuu, PSC_HRM.Module"/>
    <alias alias="ThongTinSinhNhat" type="PSC_HRM.Module.XuLyQuyTrinh.SinhNhat.ThongTinSinhNhat, PSC_HRM.Module"/>
    <alias alias="IQuyetDinhCongNhanDaoTaoService" type="PSC_HRM.Module.QuyetDinhService.IQuyetDinhCongNhanDaoTaoService, PSC_HRM.Module" />
    <alias alias="IQuyetDinhCongNhanBoiDuongService" type="PSC_HRM.Module.QuyetDinhService.IQuyetDinhCongNhanBoiDuongService, PSC_HRM.Module" />
    <alias alias="IQuyetDinhXepLuongService" type="PSC_HRM.Module.QuyetDinhService.IQuyetDinhXepLuongService, PSC_HRM.Module" />
    <alias alias="IQuyetDinhTuyenDungService" type="PSC_HRM.Module.QuyetDinhService.IQuyetDinhTuyenDungService, PSC_HRM.Module" />
    <alias alias="IQuyetDinhTiepNhanVienChucDiNuocNgoaiService" type="PSC_HRM.Module.QuyetDinhService.IQuyetDinhTiepNhanVienChucDiNuocNgoaiService, PSC_HRM.Module" />
    <alias alias="IQuyetDinhTiepNhanVaXepLuongService" type="PSC_HRM.Module.QuyetDinhService.IQuyetDinhTiepNhanVaXepLuongService, PSC_HRM.Module" />
    <alias alias="IQuyetDinhTiepNhanService" type="PSC_HRM.Module.QuyetDinhService.IQuyetDinhTiepNhanService, PSC_HRM.Module" />
    <alias alias="IQuyetDinhThoiViecService" type="PSC_HRM.Module.QuyetDinhService.IQuyetDinhThoiViecService, PSC_HRM.Module" />
    <alias alias="IQuyetDinhKyLuatService" type="PSC_HRM.Module.QuyetDinhService.IQuyetDinhKyLuatService, PSC_HRM.Module" />
    <alias alias="IQuyetDinhHuongDanTapSuService" type="PSC_HRM.Module.QuyetDinhService.IQuyetDinhHuongDanTapSuService, PSC_HRM.Module" />
    <alias alias="QDCongNhanDaoTaoUEL" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhCongNhanDaoTaoUEL, PSC_HRM.Module"/>
    <alias alias="QDCongNhanDaoTaoQNU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhCongNhanDaoTaoQNU, PSC_HRM.Module"/>
    <alias alias="QDCongNhanDaoTaoNEU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhCongNhanDaoTaoNEU, PSC_HRM.Module"/>
    <alias alias="QDCongNhanBoiDuongNEU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhCongNhanBoiDuongNEU, PSC_HRM.Module"/>
    <alias alias="QDXepLuongUEL" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhXepLuongUEL, PSC_HRM.Module"/>
    <alias alias="QDXepLuongQNU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhXepLuongQNU, PSC_HRM.Module"/>
    <alias alias="QDXepLuongNEU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhXepLuongNEU, PSC_HRM.Module"/>
    <alias alias="QDTuyenDungUEL" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTuyenDungUEL, PSC_HRM.Module"/>
    <alias alias="QDTuyenDungQNU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTuyenDungQNU, PSC_HRM.Module"/>
    <alias alias="QDTuyenDungNEU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTuyenDungNEU, PSC_HRM.Module"/>
    <alias alias="QDTiepNhanVienChucDiNuocNgoaiUEL" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTiepNhanVienChucDiNuocNgoaiUEL, PSC_HRM.Module"/>
    <alias alias="QDTiepNhanVienChucDiNuocNgoaiQNU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTiepNhanVienChucDiNuocNgoaiQNU, PSC_HRM.Module"/>
    <alias alias="QDTiepNhanVienChucDiNuocNgoaiNEU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTiepNhanVienChucDiNuocNgoaiNEU, PSC_HRM.Module"/>
    <alias alias="QDTiepNhanVaXepLuongUEL" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTiepNhanVaXepLuongUEL, PSC_HRM.Module"/>
    <alias alias="QDTiepNhanVaXepLuongQNU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTiepNhanVaXepLuongQNU, PSC_HRM.Module"/>
    <alias alias="QDTiepNhanVaXepLuongNEU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTiepNhanVaXepLuongNEU, PSC_HRM.Module"/>
    <alias alias="QDTiepNhanUEL" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTiepNhanUEL, PSC_HRM.Module"/>
    <alias alias="QDTiepNhanQNU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTiepNhanQNU, PSC_HRM.Module"/>
    <alias alias="QDTiepNhanNEU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhTiepNhanNEU, PSC_HRM.Module"/>
    <alias alias="QDThoiViecUEL" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhThoiViecUEL, PSC_HRM.Module"/>
    <alias alias="QDThoiViecQNU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhThoiViecQNU, PSC_HRM.Module"/>
    <alias alias="QDThoiViecNEU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhThoiViecNEU, PSC_HRM.Module"/>
    <alias alias="QDKyLuatUEL" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhKyLuatUEL, PSC_HRM.Module"/>
    <alias alias="QDKyLuatQNU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhKyLuatQNU, PSC_HRM.Module"/>
    <alias alias="QDKyLuatNEU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhKyLuatNEU, PSC_HRM.Module"/>
    <alias alias="QuyetDinhHuongDanTapSuUEL" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhHuongDanTapSuUEL, PSC_HRM.Module"/>
    <alias alias="QuyetDinhHuongDanTapSuQNU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhHuongDanTapSuQNU, PSC_HRM.Module"/>
    <alias alias="QuyetDinhHuongDanTapSuNEU" type="PSC_HRM.Module.QuyetDinhService.QuyetDinhHuongDanTapSuNEU, PSC_HRM.Module"/>


    <container>
      <register type="INhacViec[ThongTinDaoTao]" mapTo="DenHanNopVanBang"/>
      <register type="INhacViec[ThongTinHopDong]" mapTo="HetHanHopDong"/>
      <register type="INhacViec[ThongTinNghiBHXH]" mapTo="HetHanNghiBHXH"/>
      <register type="INhacViec[ThongTinNghiKhongHuongLuong]" mapTo="HetHanNghiKhongHuongLuong"/>
      <register type="INhacViec[ThongTinHetHanTamHoanTapSu]" mapTo="HetHanTamHoanTapSu"/>
      <register type="INhacViec[ThongTinHetHanTapSu]" mapTo="HetHanTapSu"/>
      <register type="INhacViec[ThongTinHetHanThuViec]" mapTo="HetHanThuViec"/>
      <register type="INhacViec[ThongTinBoNhiem]" mapTo="HetNhiemKyChucVu"/>
      <register type="INhacViec[ThongTinNangLuong]" mapTo="NangLuong"/>
      <register type="INhacViec[ThongTinNangThamNien]" mapTo="NangThamNien"/>
      <register type="INhacViec[ThamNienCongTac]" mapTo="NangThamNienCongTac"/>
      <register type="INhacViec[ThongTinNghiHuu]" mapTo="NghiHuu"/>
      <register type="INhacViec[ThongTinSinhNhat]" mapTo="SinhNhat"/>
      <register type="IQuyetDinhCongNhanDaoTaoService" mapTo="QDCongNhanDaoTaoUEL" name="QDCongNhanDaoTaoUEL"/>
      <register type="IQuyetDinhCongNhanDaoTaoService" mapTo="QDCongNhanDaoTaoQNU" name="QDCongNhanDaoTaoQNU"/>
      <register type="IQuyetDinhCongNhanDaoTaoService" mapTo="QDCongNhanDaoTaoNEU" name="QDCongNhanDaoTaoNEU"/>
      <register type="IQuyetDinhCongNhanBoiDuongService" mapTo="QDCongNhanBoiDuongNEU" name="QDCongNhanBoiDuongNEU"/>
      <register type="IQuyetDinhXepLuongService" mapTo="QDXepLuongUEL" name="QDXepLuongUEL"/>
      <register type="IQuyetDinhXepLuongService" mapTo="QDXepLuongQNU" name="QDXepLuongQNU"/>
      <register type="IQuyetDinhXepLuongService" mapTo="QDXepLuongNEU" name="QDXepLuongNEU"/>
      <register type="IQuyetDinhTuyenDungService" mapTo="QDTuyenDungUEL" name="QDTuyenDungUEL"/>
      <register type="IQuyetDinhTuyenDungService" mapTo="QDTuyenDungQNU" name="QDTuyenDungQNU"/>
      <register type="IQuyetDinhTuyenDungService" mapTo="QDTuyenDungNEU" name="QDTuyenDungNEU"/>
      <register type="IQuyetDinhTiepNhanVienChucDiNuocNgoaiService" mapTo="QDTiepNhanVienChucDiNuocNgoaiUEL" name="QDTiepNhanVienChucDiNuocNgoaiUEL"/>
      <register type="IQuyetDinhTiepNhanVienChucDiNuocNgoaiService" mapTo="QDTiepNhanVienChucDiNuocNgoaiQNU" name="QDTiepNhanVienChucDiNuocNgoaiQNU"/>
      <register type="IQuyetDinhTiepNhanVienChucDiNuocNgoaiService" mapTo="QDTiepNhanVienChucDiNuocNgoaiNEU" name="QDTiepNhanVienChucDiNuocNgoaiNEU"/>
      <register type="IQuyetDinhTiepNhanVaXepLuongService" mapTo="QDTiepNhanVaXepLuongUEL" name="QDTiepNhanVaXepLuongUEL"/>
      <register type="IQuyetDinhTiepNhanVaXepLuongService" mapTo="QDTiepNhanVaXepLuongQNU" name="QDTiepNhanVaXepLuongQNU"/>
      <register type="IQuyetDinhTiepNhanVaXepLuongService" mapTo="QDTiepNhanVaXepLuongNEU" name="QDTiepNhanVaXepLuongNEU"/>
      <register type="IQuyetDinhTiepNhanService" mapTo="QDTiepNhanUEL" name="QDTiepNhanUEL"/>
      <register type="IQuyetDinhTiepNhanService" mapTo="QDTiepNhanQNU" name="QDTiepNhanQNU"/>
      <register type="IQuyetDinhTiepNhanService" mapTo="QDTiepNhanNEU" name="QDTiepNhanNEU"/>
      <register type="IQuyetDinhThoiViecService" mapTo="QDThoiViecUEL" name="QDThoiViecUEL"/>
      <register type="IQuyetDinhThoiViecService" mapTo="QDThoiViecQNU" name="QDThoiViecQNU"/>
      <register type="IQuyetDinhThoiViecService" mapTo="QDThoiViecNEU" name="QDThoiViecNEU"/>
      <register type="IQuyetDinhKyLuatService" mapTo="QDKyLuatUEL" name="QDKyLuatUEL"/>
      <register type="IQuyetDinhKyLuatService" mapTo="QDKyLuatQNU" name="QDKyLuatQNU"/>
      <register type="IQuyetDinhKyLuatService" mapTo="QDKyLuatNEU" name="QDKyLuatNEU"/>
      <register type="IQuyetDinhHuongDanTapSuService" mapTo="QuyetDinhHuongDanTapSuUEL" name="QuyetDinhHuongDanTapSuUEL"/>
      <register type="IQuyetDinhHuongDanTapSuService" mapTo="QuyetDinhHuongDanTapSuQNU" name="QuyetDinhHuongDanTapSuQNU"/>
       <register type="IQuyetDinhHuongDanTapSuService" mapTo="QuyetDinhHuongDanTapSuNEU" name="QuyetDinhHuongDanTapSuNEU"/>
     
    </container>
  </unity>
</configuration>