<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!-- Lifetime manager types -->
    <alias alias="singleton"
         type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />
    <alias alias="perThread"
         type="Microsoft.Practices.Unity.PerThreadLifetimeManager,
               Microsoft.Practices.Unity" />
    <alias alias="external"
         type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
               Microsoft.Practices.Unity" />

    <!-- User-defined type aliases -->
    <alias alias="ITaiChinh" type="PSC_HRM.Module.ThuNhap.ITaiChinh, PSC_HRM.Module.ThuNhap" />
    <alias alias="TinhDieuChinhThueTNCN" type="PSC_HRM.Module.ThuNhap.Controllers.TinhDieuChinhThueTNCN, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhKhauTruLuong" type="PSC_HRM.Module.ThuNhap.Controllers.TinhKhauTruLuong, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhKhauTruTamUng" type="PSC_HRM.Module.ThuNhap.Controllers.TinhKhauTruTamUng, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhKhauTruThueTNCN" type="PSC_HRM.Module.ThuNhap.Controllers.TinhKhauTruThueTNCN, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhKhenThuongPhucLoi" type="PSC_HRM.Module.ThuNhap.Controllers.TinhKhenThuongPhucLoi, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhLuongNhanVien" type="PSC_HRM.Module.ThuNhap.Controllers.TinhLuongNhanVien, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhQuyetToanThueTNCN" type="PSC_HRM.Module.ThuNhap.Controllers.TinhQuyetToanThueTNCN, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhQuyetToanThuNhapTangThem" type="PSC_HRM.Module.ThuNhap.Controllers.TinhQuyetToanThuNhapTangThem, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhThuNhapTangThem" type="PSC_HRM.Module.ThuNhap.Controllers.TinhThuNhapTangThem, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhTienNgoaiGio" type="PSC_HRM.Module.ThuNhap.Controllers.TinhTienNgoaiGio, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhTruyLuong" type="PSC_HRM.Module.ThuNhap.Controllers.TinhTruyLuong, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhTruyTNTT" type="PSC_HRM.Module.ThuNhap.Controllers.TinhTruyTNTT, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhChiTienMat" type="PSC_HRM.Module.ThuNhap.Controllers.TinhChiTienMat, PSC_HRM.Module.ThuNhap"/>
    <alias alias="TinhChuyenKhoan" type="PSC_HRM.Module.ThuNhap.Controllers.TinhChuyenKhoan, PSC_HRM.Module.ThuNhap"/>
    <alias alias="ChotTongThuNhapNhanVien" type="PSC_HRM.Module.ThuNhap.Controllers.ChotTongThuNhapNhanVien, PSC_HRM.Module.ThuNhap"/>
    <alias alias="LapThanhToan" type="PSC_HRM.Module.ThuNhap.Controllers.LapThanhToan, PSC_HRM.Module.ThuNhap"/>
    
    <container>
      <register type="ITaiChinh" mapTo="TinhDieuChinhThueTNCN" name="TinhDieuChinhThueTNCN"/>
      <register type="ITaiChinh" mapTo="TinhKhauTruLuong" name="TinhKhauTruLuong"/>
      <register type="ITaiChinh" mapTo="TinhKhauTruTamUng" name="TinhKhauTruTamUng"/>
      <register type="ITaiChinh" mapTo="TinhKhauTruThueTNCN" name="TinhKhauTruThueTNCN"/>
      <register type="ITaiChinh" mapTo="TinhKhenThuongPhucLoi" name="TinhKhenThuongPhucLoi"/>
      <register type="ITaiChinh" mapTo="TinhLuongNhanVien" name="TinhLuongNhanVien"/>
      <register type="ITaiChinh" mapTo="TinhQuyetToanThueTNCN" name="TinhQuyetToanThueTNCN"/>
      <register type="ITaiChinh" mapTo="TinhQuyetToanThuNhapTangThem" name="TinhQuyetToanThuNhapTangThem"/>
      <register type="ITaiChinh" mapTo="TinhThuNhapTangThem" name="TinhThuNhapTangThem"/>
      <register type="ITaiChinh" mapTo="TinhTienNgoaiGio" name="TinhTienNgoaiGio"/>
      <register type="ITaiChinh" mapTo="TinhTruyLuong" name="TinhTruyLuong"/>
      <register type="ITaiChinh" mapTo="TinhTruyTNTT" name="TinhTruyTNTT"/>
      <register type="ITaiChinh" mapTo="TinhChiTienMat" name="TinhChiTienMat"/>
      <register type="ITaiChinh" mapTo="TinhChuyenKhoan" name="TinhChuyenKhoan"/>
      <register type="ITaiChinh" mapTo="ChotTongThuNhapNhanVien" name="ChotTongThuNhapNhanVien"/>
      <register type="ITaiChinh" mapTo="LapThanhToan" name="LapThanhToan"/>
    </container>
  </unity>
</configuration>