<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!-- Lifetime manager types -->
    <alias alias="singleton"
         type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />
    <alias alias="perThread"
         type="Microsoft.Practices.Unity.PerThreadLifetimeManager,
               Microsoft.Practices.Unity" />
    <alias alias="external"
         type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
               Microsoft.Practices.Unity" />

    <!-- User-defined type aliases -->
    <alias alias="IMailMerge" type="PSC_HRM.Module.Win.XuLyMailMerge.IMailMerge`1, PSC_HRM.Module.Win" />
    <alias alias="ListHopDongThinhGiang_VHU" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.MailMerge.QuyetDinh.PMS_MailMegre_HopDongThinhGiang_ThongTinChung, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhBoiDuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhBoiDuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhBoNhiem" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhBoNhiem, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhBoNhiemChucVuDoan" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhBoNhiemChucVuDoan, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhBoNhiemKiemNhiem" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhBoNhiemKiemNhiem, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhBoNhiemNgach" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhBoNhiemNgach, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhChamDutHopDong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhChamDutHopDong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhChiaTachDonVi" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhChiaTachDonVi, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhChuyenCongTac" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhChuyenCongTac, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhChuyenNgach" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhChuyenNgach, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhChuyenTruongDaoTao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhChuyenTruongDaoTao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhChuyenNganhDaoTaoMoi" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhChuyenNganhDaoTaoMoi, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhCongNhanDaoTao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhCongNhanDaoTao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhCongNhanBoiDuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhCongNhanBoiDuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhDenBuChiPhiDaoTao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhDenBuChiPhiDaoTao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhCongNhanHocHam" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhCongNhanHocHam, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhDaoTao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhDaoTao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhDieuChinhThoiGianDiDaoTao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhDieuChinhThoiGianDiDaoTao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhDiCongTac" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhDiCongTac, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhDiNuocNgoai" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhDiNuocNgoai, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhDieuChinhThoiGianDiNuocNgoai" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhDieuChinhThoiGianDiNuocNgoai, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhDoiTenDonVi" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhDoiTenDonVi, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhGiaHanDaoTao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhGiaHanDaoTao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhGiaHanBoiDuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhGiaHanBoiDuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhHuyBoiDuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhHuyBoiDuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhHuyDaoTao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhHuyDaoTao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhHuyDiNuocNgoai" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhHuyDiNuocNgoai, PSC_HRM.Module]], mscorlib"/>
     <alias alias="ListQuyetDinhGiaHanDiNuocNgoai" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhGiaHanDiNuocNgoai, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhGiaHanTapSu" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhGiaHanTapSu, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhGiaiTheDonVi" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhGiaiTheDonVi, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhHopDong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhHopDong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhHuongDanTapSu" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhHuongDanTapSu, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhKeoDaiThoiGianCongTac" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhKeoDaiThoiGianCongTac, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhKhenThuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhKhenThuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhKyLuat" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhKyLuat, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhLuanChuyen" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhLuanChuyen, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhMienNhiem" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhMienNhiem, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhMienNhiemKiemNhiem" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhMienNhiemKiemNhiem, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhNangLuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhNangLuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhChuyenXepLuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhChuyenXepLuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhNangNgach" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhNangNgach, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhNangPhuCapThamNienNhaGiao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhNangPhuCapThamNienNhaGiao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhNangThamNienTangThem" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhNangThamNienTangThem, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhNghiHuu" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhNghiHuu, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhNghiKhongHuongLuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhNghiKhongHuongLuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhTamDungGiaiQuyetCheDo" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhTamDungGiaiQuyetCheDo, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhSapNhapDonVi" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhSapNhapDonVi, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhTamHoanTapSu" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhTamHoanTapSu, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThanhLapDonVi" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThanhLapDonVi, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThanhLapHoiDongKhenThuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThanhLapHoiDongKhenThuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThanhLapHoiDongNangLuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThanhLapHoiDongNangLuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThanhLapHoiDongKyLuat" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThanhLapHoiDongKyLuat, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThanhLapCanBoTrucLe" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhTrucLe, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThanhLapHoiDongTuyenDung" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThanhLapHoiDongTuyenDung, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThanhLapHoiDongXetDenBuDaoTao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThanhLapHoiDongXetDenBuDaoTao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThanhLapHoiDongHetTapSu" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThanhLapHoiDongDanhGiaHetTapSu, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThayCanBoHuongDanTapSu" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThayCanBoHuongDanTapSu, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThoiChuc" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThoiChuc, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThoiChucVuDoan" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThoiChucVuDoan, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThoiChucKiemNhiem" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThoiChucKiemNhiem, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThoiViec" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThoiViec, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhTiepNhan" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhTiepNhan, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhTiepNhanDaoTao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhTiepNhanDaoTao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhTiepNhanBoiDuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhTiepNhanBoiDuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhTiepNhanVaXepLuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhTiepNhanVaXepLuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhTiepNhanVienChucDiNuocNgoai" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhTiepNhanVienChucDiNuocNgoai, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhTuyenDung" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhTuyenDung, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhXepLuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhXepLuong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListHopDong_ChamBaoCao" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.HopDong.HopDong_ChamBaoCao, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListHopDong_Khoan" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.HopDong.HopDong_Khoan, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListHopDong_LamViec" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.HopDong.HopDong_LamViec, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListHopDong_LaoDong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.HopDong.HopDong_LaoDong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListHopDong_LaoDong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.HopDong.HopDong_LaoDong, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListHopDong_ThinhGiang" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.HopDong.HopDong_ThinhGiang, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListThongTinNghiHuu" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.XuLyQuyTrinh.NghiHuu.ThongTinNghiHuu, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListThongTinNghiPhep" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.NghiPhep.ChiTietThongTinNghiPhep, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListThongBaoGiaHanTapSu" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.ThongBaoGiaHanTapSu, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhChoPhepNghiHoc" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhChoPhepNghiHoc, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhHuongPhuCapTrachNhiem" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhHuongPhuCapTrachNhiem, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThoiHuongPhuCapTrachNhiem" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThoiHuongPhuCapTrachNhiem, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhKhac" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhKhac, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhHuongCheDoDiHocTrongNuoc" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhHuongCheDoDiHocTrongNuoc, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhNangPhuCap" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhNangPhuCap, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhHuongPhuCapUuDai" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhHuongPhuCapUuDai, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThanhLapKhac" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThanhLapKhac, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhThinhGiang" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhThinhGiang, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhGiaHanThinhGiang" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhGiaHanThinhGiang, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListQuyetDinhKiemGiang" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.QuyetDinh.QuyetDinhKiemGiang, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListHopDong_KiemGiang" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.HopDong.HopDong_KiemGiang, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListChiTietThanhLyHopDongThinhGiang" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.HopDong.ChiTietThanhLyHopDongThinhGiang, PSC_HRM.Module]], mscorlib"/>
    <alias alias="ListLuong_DonXacNhanBangLuong" type="System.Collections.Generic.IList`1[[PSC_HRM.Module.NonPersistentObjects.Luong_DonXacNhanBangLuong, PSC_HRM.Module]], mscorlib"/>

    <alias alias="MailMerge_HopDongThinhGiang_VHU" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_HopDongThinhGiang_VHU, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_GiayThoiTraLuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_GiayThoiTraLuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_HopDongChamBaoCao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_HopDongChamBaoCao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_HopDongKhoan" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_HopDongKhoan, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_HopDongLamViec" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_HopDongLamViec, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_HopDongLaoDong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_HopDongLaoDong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_HopDongThinhGiang" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_HopDongThinhGiang, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_PhuLucHopDongKhoan" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_PhuLucHopDongKhoan, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhBoiDuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhBoiDuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhBoNhiem" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhBoNhiem, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhBoNhiemChucVuDoan" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhBoNhiemChucVuDoan, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhBoNhiemKiemNhiem" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhBoNhiemKiemNhiem, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhBoNhiemNgach" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhBoNhiemNgach, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhChamDutHopDong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhChamDutHopDong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhChiaTachDonVi" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhChiaTachDonVi, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhChuyenCongTac" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhChuyenCongTac, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhChuyenNgach" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhChuyenNgach, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhChuyenTruongDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhChuyenTruongDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhChuyenNganhDaoTaoMoi" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhChuyenNganhDaoTaoMoi, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhCongNhanDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhCongNhanDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhCongNhanBoiDuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhCongNhanBoiDuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhDenBuChiPhiDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhDenBuChiPhiDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhCongNhanHocHam" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhCongNhanHocHam, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhDieuChinhThoiGianDiDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhDieuChinhThoiGianDiDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhDiCongTac" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhDiCongTac, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhDiNuocNgoai" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhDiNuocNgoai, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhDieuChinhThoiGianDiNuocNgoai" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhDieuChinhThoiGianDiNuocNgoai, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhDoiTenDonVi" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhDoiTenDonVi, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhGiaHanDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhGiaHanDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhGiaHanBoiDuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhGiaHanBoiDuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhHuyBoiDuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhHuyBoiDuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhHuyDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhHuyDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhHuyDiNuocNgoai" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhHuyDiNuocNgoai, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhGiaHanDiNuocNgoai" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhGiaHanDiNuocNgoai, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhGiaHanTapSu" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhGiaHanTapSu, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhGiaiTheDonVi" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhGiaiTheDonVi, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhHopDong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhHopDong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhHuongDanTapSu" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhHuongDanTapSu, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhKeoDaiThoiGianCongTac" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhKeoDaiThoiGianCongTac, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhKhenThuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhKhenThuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhKyLuat" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhKyLuat, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhLuanChuyen" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhLuanChuyen, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhMienNhiem" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhMienNhiem, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhMienNhiemKiemNhiem" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhMienNhiemKiemNhiem, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhNangLuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhNangLuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhChuyenXepLuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhChuyenXepLuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhNangNgach" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhNangNgach, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhNangPhuCapThamNienNhaGiao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhNangPhuCapThamNienNhaGiao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhNangThamNienTangThem" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhNangThamNienTangThem, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhNghiHuu" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhNghiHuu, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_ThongBaoNghiHuu" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_ThongBaoNghiHuu, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_ThongBaoNghiPhep" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_ThongBaoNghiPhep, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhNghiKhongHuongLuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhNghiKhongHuongLuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhTamDungGiaiQuyetCheDo" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhTamDungGiaiQuyetCheDo, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhSapNhapDonVi" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhSapNhapDonVi, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhTamHoanTapSu" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhTamHoanTapSu, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThanhLapHoiDongKhenThuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThanhLapHoiDongKhenThuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThanhLapHoiDongNangLuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThanhLapHoiDongNangLuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThanhLapHoiDongKyLuat" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThanhLapHoiDongKyLuat, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThanhLapCanBoTrucLe" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThanhLapCanBoTrucLe, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThanhLapHoiDongTuyenDung" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThanhLapHoiDongTuyenDung, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThanhLapHoiDongHetTapSu" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThanhLapHoiDongHetTapSu, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThanhLapHoiDongXetDenBuDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThanhLapHoiDongXetDenBuDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThayCanBoHuongDanTapSu" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThayCanBoHuongDanTapSu, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThanhLapDonVi" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThanhLapDonVi, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThoiChuc" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThoiChuc, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThoiChucVuDoan" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThoiChucVuDoan, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThoiChucKiemNhiem" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThoiChucKiemNhiem, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThoiViec" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThoiViec, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhTiepNhan" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhTiepNhan, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhTiepNhanDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhTiepNhanDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhTiepNhanBoiDuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhTiepNhanBoiDuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhTiepNhanVaXepLuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhTiepNhanVaXepLuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhTuyenDung" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhTuyenDung, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhXepLuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhXepLuong, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_ThanhLyHopDongThinhGiang" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_ThanhLyHopDongThinhGiang, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_ThongBaoNghiHuu" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_ThongBaoNghiHuu, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_ThongBaoNghiHuu1" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_ThongBaoNghiHuu1, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_ThongBaoKeoDaiThoiGianCongTac" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_ThongBaoKeoDaiThoiGianCongTac, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_ThongBaoGiaHanTapSu" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_ThongBaoGiaHanTapSu, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhBoiThuongChiPhiDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhBoiThuongChiPhiDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThanhLapHoiDongBoiThuongChiPhiDaoTao" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThanhLapHoiDongBoiThuongChiPhiDaoTao, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhChoPhepNghiHoc" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhChoPhepNghiHoc, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhChoPhepNghiHocTamThoi" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhChoPhepNghiHocTamThoi, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhHuongPhuCapTrachNhiem" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhHuongPhuCapTrachNhiem, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThoiHuongPhuCapTrachNhiem" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThoiHuongPhuCapTrachNhiem, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhKhac" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhKhac, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhHuongCheDoDiHocTrongNuoc" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhHuongCheDoDiHocTrongNuoc, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhNangPhuCap" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhNangPhuCap, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhHuongPhuCapUuDai" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhHuongPhuCapUuDai, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThanhLapKhac" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThanhLapKhac, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhThinhGiang" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhThinhGiang, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhGiaHanThinhGiang" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhGiaHanThinhGiang, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_QuyetDinhKiemGiang" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_QuyetDinhKiemGiang, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_HopDongKiemGiang" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_HopDongKiemGiang, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_ChiTietThanhLyHopDongThinhGiang" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_ChiTietThanhLyHopDongThinhGiang, PSC_HRM.Module.Win"/>
    <alias alias="MailMerge_DonXacNhanBangLuong" type="PSC_HRM.Module.Win.XuLyMailMerge.XuLy.MailMerge_DonXacNhanBangLuong, PSC_HRM.Module.Win"/>

    <container>
      <register type="IMailMerge[ListHopDongThinhGiang_VHU]" mapTo="MailMerge_HopDongThinhGiang_VHU"/>
      <register type="IMailMerge[ListQuyetDinhChuyenCongTac]" mapTo="MailMerge_GiayThoiTraLuong" name="GiayThoiTraLuong"/>
      <register type="IMailMerge[ListHopDong_ChamBaoCao]" mapTo="MailMerge_HopDongChamBaoCao"/>
      <register type="IMailMerge[ListHopDong_Khoan]" mapTo="MailMerge_HopDongKhoan" name="HopDongKhoan"/>
      <register type="IMailMerge[ListHopDong_LamViec]" mapTo="MailMerge_HopDongLamViec"/>
      <register type="IMailMerge[ListHopDong_LaoDong]" mapTo="MailMerge_HopDongLaoDong"/>
      <register type="IMailMerge[ListHopDong_ThinhGiang]" mapTo="MailMerge_HopDongThinhGiang"/>
      <register type="IMailMerge[ListHopDong_Khoan]" mapTo="MailMerge_PhuLucHopDongKhoan" name="PhuLucHopDongKhoan"/>
      <register type="IMailMerge[ListQuyetDinhBoiDuong]" mapTo="MailMerge_QuyetDinhBoiDuong"/>
      <register type="IMailMerge[ListQuyetDinhBoNhiem]" mapTo="MailMerge_QuyetDinhBoNhiem"/>
      <register type="IMailMerge[ListQuyetDinhBoNhiemChucVuDoan]" mapTo="MailMerge_QuyetDinhBoNhiemChucVuDoan"/>
      <register type="IMailMerge[ListQuyetDinhBoNhiemKiemNhiem]" mapTo="MailMerge_QuyetDinhBoNhiemKiemNhiem"/>
      <register type="IMailMerge[ListQuyetDinhBoNhiemNgach]" mapTo="MailMerge_QuyetDinhBoNhiemNgach"/>
      <register type="IMailMerge[ListQuyetDinhChamDutHopDong]" mapTo="MailMerge_QuyetDinhChamDutHopDong"/>
      <register type="IMailMerge[ListQuyetDinhChiaTachDonVi]" mapTo="MailMerge_QuyetDinhChiaTachDonVi"/>
      <register type="IMailMerge[ListQuyetDinhChuyenCongTac]" mapTo="MailMerge_QuyetDinhChuyenCongTac" name="QuyetDinhChuyenCongTac"/>
      <register type="IMailMerge[ListQuyetDinhChuyenNgach]" mapTo="MailMerge_QuyetDinhChuyenNgach"/>
      <register type="IMailMerge[ListQuyetDinhChuyenTruongDaoTao]" mapTo="MailMerge_QuyetDinhChuyenTruongDaoTao"/>
     <register type="IMailMerge[ListQuyetDinhChuyenNganhDaoTaoMoi]" mapTo="MailMerge_QuyetDinhChuyenNganhDaoTaoMoi"/>
      <register type="IMailMerge[ListQuyetDinhCongNhanDaoTao]" mapTo="MailMerge_QuyetDinhCongNhanDaoTao"/>
      <register type="IMailMerge[ListQuyetDinhCongNhanBoiDuong]" mapTo="MailMerge_QuyetDinhCongNhanBoiDuong"/>
      <register type="IMailMerge[ListQuyetDinhDenBuChiPhiDaoTao]" mapTo="MailMerge_QuyetDinhDenBuChiPhiDaoTao"/>
      <register type="IMailMerge[ListQuyetDinhCongNhanHocHam]" mapTo="MailMerge_QuyetDinhCongNhanHocHam"/>
      <register type="IMailMerge[ListQuyetDinhDaoTao]" mapTo="MailMerge_QuyetDinhDaoTao"/>
      <register type="IMailMerge[ListQuyetDinhDieuChinhThoiGianDiDaoTao]" mapTo="MailMerge_QuyetDinhDieuChinhThoiGianDiDaoTao"/>
      <register type="IMailMerge[ListQuyetDinhDiCongTac]" mapTo="MailMerge_QuyetDinhDiCongTac"/>
      <register type="IMailMerge[ListQuyetDinhDiNuocNgoai]" mapTo="MailMerge_QuyetDinhDiNuocNgoai"/>
      <register type="IMailMerge[ListQuyetDinhDieuChinhThoiGianDiNuocNgoai]" mapTo="MailMerge_QuyetDinhDieuChinhThoiGianDiNuocNgoai"/>
      <register type="IMailMerge[ListQuyetDinhDoiTenDonVi]" mapTo="MailMerge_QuyetDinhDoiTenDonVi"/>
      <register type="IMailMerge[ListQuyetDinhGiaHanDaoTao]" mapTo="MailMerge_QuyetDinhGiaHanDaoTao"/>
      <register type="IMailMerge[ListQuyetDinhGiaHanBoiDuong]" mapTo="MailMerge_QuyetDinhGiaHanBoiDuong"/>
      <register type="IMailMerge[ListQuyetDinhHuyBoiDuong]" mapTo="MailMerge_QuyetDinhHuyBoiDuong"/>
      <register type="IMailMerge[ListQuyetDinhHuyDaoTao]" mapTo="MailMerge_QuyetDinhHuyDaoTao"/>
      <register type="IMailMerge[ListQuyetDinhHuyDiNuocNgoai]" mapTo="MailMerge_QuyetDinhHuyDiNuocNgoai"/>
      <register type="IMailMerge[ListQuyetDinhGiaHanDiNuocNgoai]" mapTo="MailMerge_QuyetDinhGiaHanDiNuocNgoai"/>
      <register type="IMailMerge[ListQuyetDinhGiaHanTapSu]" mapTo="MailMerge_QuyetDinhGiaHanTapSu"/>
      <register type="IMailMerge[ListQuyetDinhGiaiTheDonVi]" mapTo="MailMerge_QuyetDinhGiaiTheDonVi"/>
      <register type="IMailMerge[ListQuyetDinhHopDong]" mapTo="MailMerge_QuyetDinhHopDong"/>
      <register type="IMailMerge[ListQuyetDinhHuongDanTapSu]" mapTo="MailMerge_QuyetDinhHuongDanTapSu"/>
      <register type="IMailMerge[ListQuyetDinhKeoDaiThoiGianCongTac]" mapTo="MailMerge_QuyetDinhKeoDaiThoiGianCongTac" name="QuyetDinhKeoDaiThoiGianCongTac"/>
      <register type="IMailMerge[ListQuyetDinhKeoDaiThoiGianCongTac]" mapTo="MailMerge_ThongBaoKeoDaiThoiGianCongTac" name="ThongBaoKeoDaiThoiGianCongTac"/>
      <register type="IMailMerge[ListQuyetDinhKhenThuong]" mapTo="MailMerge_QuyetDinhKhenThuong"/>
      <register type="IMailMerge[ListQuyetDinhKyLuat]" mapTo="MailMerge_QuyetDinhKyLuat"/>
      <register type="IMailMerge[ListQuyetDinhLuanChuyen]" mapTo="MailMerge_QuyetDinhLuanChuyen"/>
      <register type="IMailMerge[ListQuyetDinhMienNhiem]" mapTo="MailMerge_QuyetDinhMienNhiem"/>
      <register type="IMailMerge[ListQuyetDinhMienNhiemKiemNhiem]" mapTo="MailMerge_QuyetDinhMienNhiemKiemNhiem"/>
      <register type="IMailMerge[ListQuyetDinhNangLuong]" mapTo="MailMerge_QuyetDinhNangLuong"/>
      <register type="IMailMerge[ListQuyetDinhChuyenXepLuong]" mapTo="MailMerge_QuyetDinhChuyenXepLuong"/>
      <register type="IMailMerge[ListQuyetDinhNangNgach]" mapTo="MailMerge_QuyetDinhNangNgach"/>
      <register type="IMailMerge[ListQuyetDinhNangPhuCapThamNienNhaGiao]" mapTo="MailMerge_QuyetDinhNangPhuCapThamNienNhaGiao"/>
      <register type="IMailMerge[ListQuyetDinhNangThamNienTangThem]" mapTo="MailMerge_QuyetDinhNangThamNienTangThem"/>
      <register type="IMailMerge[ListQuyetDinhNghiHuu]" mapTo="MailMerge_QuyetDinhNghiHuu" name="QuyetDinhNghiHuu"/>
      <register type="IMailMerge[ListQuyetDinhNghiKhongHuongLuong]" mapTo="MailMerge_QuyetDinhNghiKhongHuongLuong"/>
      <register type="IMailMerge[ListQuyetDinhTamDungGiaiQuyetCheDo]" mapTo="MailMerge_QuyetDinhTamDungGiaiQuyetCheDo"/>
      <register type="IMailMerge[ListQuyetDinhSapNhapDonVi]" mapTo="MailMerge_QuyetDinhSapNhapDonVi"/>
      <register type="IMailMerge[ListQuyetDinhTamHoanTapSu]" mapTo="MailMerge_QuyetDinhTamHoanTapSu"/>
      <register type="IMailMerge[ListQuyetDinhThanhLapHoiDongKhenThuong]" mapTo="MailMerge_QuyetDinhThanhLapHoiDongKhenThuong"/>
      <register type="IMailMerge[ListQuyetDinhThanhLapHoiDongNangLuong]" mapTo="MailMerge_QuyetDinhThanhLapHoiDongNangLuong"/>
      <register type="IMailMerge[ListQuyetDinhThanhLapDonVi]" mapTo="MailMerge_QuyetDinhThanhLapDonVi"/>
      <register type="IMailMerge[ListQuyetDinhThanhLapHoiDongKyLuat]" mapTo="MailMerge_QuyetDinhThanhLapHoiDongKyLuat"/>
      <register type="IMailMerge[ListQuyetDinhThanhLapCanBoTrucLe]" mapTo="MailMerge_QuyetDinhThanhLapCanBoTrucLe"/>
      <register type="IMailMerge[ListQuyetDinhThanhLapHoiDongTuyenDung]" mapTo="MailMerge_QuyetDinhThanhLapHoiDongTuyenDung"/>
      <register type="IMailMerge[ListQuyetDinhThanhLapHoiDongXetDenBuDaoTao]" mapTo="MailMerge_QuyetDinhThanhLapHoiDongXetDenBuDaoTao"/>
      <register type="IMailMerge[ListQuyetDinhThanhLapHoiDongHetTapSu]" mapTo="MailMerge_QuyetDinhThanhLapHoiDongHetTapSu"/>
      <register type="IMailMerge[ListQuyetDinhThayCanBoHuongDanTapSu]" mapTo="MailMerge_QuyetDinhThayCanBoHuongDanTapSu"/>
      <register type="IMailMerge[ListQuyetDinhThoiChuc]" mapTo="MailMerge_QuyetDinhThoiChuc"/>
      <register type="IMailMerge[ListQuyetDinhThoiChucVuDoan]" mapTo="MailMerge_QuyetDinhThoiChucVuDoan"/>
      <register type="IMailMerge[ListQuyetDinhThoiChucKiemNhiem]" mapTo="MailMerge_QuyetDinhThoiChucKiemNhiem"/>
      <register type="IMailMerge[ListQuyetDinhThoiViec]" mapTo="MailMerge_QuyetDinhThoiViec"/>
      <register type="IMailMerge[ListQuyetDinhTiepNhan]" mapTo="MailMerge_QuyetDinhTiepNhan"/>
      <register type="IMailMerge[ListQuyetDinhTiepNhanDaoTao]" mapTo="MailMerge_QuyetDinhTiepNhanDaoTao"/>
      <register type="IMailMerge[ListQuyetDinhTiepNhanBoiDuong]" mapTo="MailMerge_QuyetDinhTiepNhanBoiDuong"/>
      <register type="IMailMerge[ListQuyetDinhTiepNhanVaXepLuong]" mapTo="MailMerge_QuyetDinhTiepNhanVaXepLuong"/>
      <register type="IMailMerge[ListQuyetDinhTuyenDung]" mapTo="MailMerge_QuyetDinhTuyenDung"/>
      <register type="IMailMerge[ListQuyetDinhXepLuong]" mapTo="MailMerge_QuyetDinhXepLuong"/>
      <register type="IMailMerge[ListChiTietThanhLyHopDongThinhGiang]" mapTo="MailMerge_ThanhLyHopDongThinhGiang"/>
      <register type="IMailMerge[ListThongTinNghiHuu]" mapTo="MailMerge_ThongBaoNghiHuu"/>
      <register type="IMailMerge[ListThongTinNghiPhep]" mapTo="MailMerge_ThongBaoNghiPhep"/>
      <register type="IMailMerge[ListQuyetDinhNghiHuu]" mapTo="MailMerge_ThongBaoNghiHuu1" name="ThongBaoNghiHuu1"/>
      <register type="IMailMerge[ListThongBaoGiaHanTapSu]" mapTo="MailMerge_ThongBaoGiaHanTapSu"/>
      <register type="IMailMerge[ListQuyetDinhChoPhepNghiHoc]" mapTo="MailMerge_QuyetDinhChoPhepNghiHoc"/>
      <register type="IMailMerge[ListQuyetDinhHuongPhuCapTrachNhiem]" mapTo="MailMerge_QuyetDinhHuongPhuCapTrachNhiem"/>
      <register type="IMailMerge[ListQuyetDinhThoiHuongPhuCapTrachNhiem]" mapTo="MailMerge_QuyetDinhThoiHuongPhuCapTrachNhiem"/>
      <register type="IMailMerge[ListQuyetDinhKhac]" mapTo="MailMerge_QuyetDinhKhac"/>
      <register type="IMailMerge[ListQuyetDinhHuongCheDoDiHocTrongNuoc]" mapTo="MailMerge_QuyetDinhHuongCheDoDiHocTrongNuoc"/>
      <register type="IMailMerge[ListQuyetDinhNangPhuCap]" mapTo="MailMerge_QuyetDinhNangPhuCap"/>
      <register type="IMailMerge[ListQuyetDinhHuongPhuCapUuDai]" mapTo="MailMerge_QuyetDinhHuongPhuCapUuDai"/>
      <register type="IMailMerge[ListQuyetDinhThanhLapKhac]" mapTo="MailMerge_QuyetDinhThanhLapKhac"/>
      <register type="IMailMerge[ListQuyetDinhThinhGiang]" mapTo="MailMerge_QuyetDinhThinhGiang"/>
      <register type="IMailMerge[ListQuyetDinhGiaHanThinhGiang]" mapTo="MailMerge_QuyetDinhGiaHanThinhGiang"/>
      <register type="IMailMerge[ListQuyetDinhKiemGiang]" mapTo="MailMerge_QuyetDinhKiemGiang"/>
      <register type="IMailMerge[ListHopDong_KiemGiang]" mapTo="MailMerge_HopDongKiemGiang"/>
      <register type="IMailMerge[ListLuong_DonXacNhanBangLuong]" mapTo="MailMerge_DonXacNhanBangLuong"/>

    </container>
  </unity>
</configuration>